<!-- Hero Section -->
<section class="relative h-[400px] md:h-[500px] w-full overflow-hidden flex items-center justify-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-Hhw6Z4SH93Al6wtLuOL8j2MigZ7DVtSgdQ&s"
        alt="Scenic Background" class="absolute w-full h-full object-fit">
    <div class="relative text-center text-white px-4">
        <h1 class="text-4xl md:text-6xl font-bold">Personalized Trip Recommendations</h1>
        <button id="showTrips"
            class="mt-4 bg-white text-blue-500 px-6 py-3 rounded-lg font-semibold shadow-lg hover:bg-gray-100">
            Click Me! </button>
    </div>
</section>